.form-container {
  width: 100%;
}

.grid-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 columnas */
  gap: 16px; /* Espacio entre inputs */
}

mat-form-field {
  width: 100%;
}
