<mat-card class="welcome-card">
  <mat-card-header>
    <mat-card-title>Bienvenido</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>Hola, bienvenido al test que realicé. El proyecto cuenta con un único módulo: <strong>Productos</strong>, que incluye las operaciones de alta, consulta con paginación y detalle.</p>

    <p>Hay una sección de <strong>autenticación</strong> en el proyecto, pero puedes ignorarla; solo se incluyó para evitar que hubiera una única ruta y para demostrar <strong>lazy loading</strong>.</p>

    <p>En la parte izquierda podrás navegar por el catálogo.</p>
  </mat-card-content>
</mat-card>
